body {
  margin: 0 0 30px 0;
  padding: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.thumbnail.room-label {
  cursor: pointer;
}
.thumbnail {
  margin-bottom: 0;
}
.exits-label {
  margin: 0;
  font-size: 12px;
}
.hotspot p {
  color: #000;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 6px;
  text-transform: uppercase;
}
#game div.gamespace {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #eee;
  padding: 10px;
  overflow: hidden;
}
#game div.gamespace .game-text {
  padding: 20px;
}
#game div.gamespace .game-text a {
  color: inherit !important;
  text-decoration: none;
  border-bottom: solid 2px;
  border-bottom-color: inherit;
}
#game div.gamespace .game-text p {
  font-size: 24px;
  font-weight: 900;
}
/*
#editor {
	height: 570px;
	position: relative;
}
#tab-rooms {
    user-select: none;
    position: absolute;
    top: 0px;
    left: -200px;
    margin-top: 20px;
    height: 510px;
    overflow-y: auto;
    overflow-x: hidden;
}
*/
#admin {
  /* SHOULD not modify */
}
#admin #room-preview,
#admin #room-div {
  position: relative;
}
#admin .dropdown-menu {
  border: 1px solid #ddd;
  background-color: white;
}
#admin .dropdown-menu li {
  border-top: 1px solid #ddd;
  padding: 2px 5px;
}
#admin .dropdown-menu li:first-child {
  border-top: none;
}
#admin .dropdown-menu li:hover,
#admin .dropdown-menu .active {
  background-color: #6eb7db;
}
#admin .dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
#admin .dropdown-menu a:hover {
  cursor: pointer;
}
