body {
  margin-bottom: 30px;
}
.thumbnail.room-label {
  cursor: pointer;
}
.hotspot p {
  color: #000;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 6px;
  text-transform: uppercase;
}
#game div.gamespace {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #eee;
  padding: 10px;
  overflow: hidden;
}
#game div.gamespace .game-text {
  padding: 20px;
}
#game div.gamespace .game-text p {
  font-size: 24px;
  font-weight: 900;
}
